html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: helvetica, sans-serif;
}

#header-img {
	width: 70px;
	margin-right: 0.5rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);


}

.brand {
	display: flex;
	margin-left: 1rem;
}

.brand p {
	font-weight: bold;
	font-size: 1.2rem;
  color: #fff;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.5rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #003049;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	margin-right: 2rem;
}

li a {
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
	font-size: 1.2rem;
}

li a:hover,
li a:focus {
  color: yellow;
}

main {
	margin-top: 4rem;
}

.hero {
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url('./images/Zorki-3-C.jpeg'); 
    
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	padding: 130px;
	place-content: center;
	min-block-size: 60vh;
}

h1 {
	text-align: center;
	font-size: 3rem;
	color: #fff;
}

.light {
	color: yellow;
}

#form {
	text-align: center;
}

input[type='email'] {
	padding: 12px 20px;
	border-radius: 100px;
  border-style: none;
}

input[type='submit'] {
	padding: 12px 24px;
	font-weight: bold;
	border-radius: 20px;
	border: none;
	background-color: yellow;
}

.container {
	width: 800px;
	max-width: 80%;
	margin: 5rem auto;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.fa-fire-flame-curved {
	padding-right: 1.3rem;
}

.desc {
	margin: 1rem;
}

#products {
	display: flex;
	justify-content: space-between;
  margin:  0;
}

#products h2,
#products h3 {
	text-align: center;
	margin: 10px;
}

.product-heading {
  text-align: center;
  font-size: 3rem;
}

.zorki-3,
.zorki-4,
.zorki-6 {
  display: flex;
  flex-direction: column;
	border: 1px solid black;
  margin: .5rem;
  padding: .5rem;
}

.btn {
  margin: 0 auto;
  padding: 12px 24px;
  background-color: yellow;
  border-radius: 20px;
  font-weight: bold;
  border-style: none;
}

#review {
 margin-top: 100px;
}

@media (max-width:700px){
  #products {
  display: block;
}
header {
  display: block;
  text-align: center;
}
iframe {
  width: 400px;
  height: 400px;
}
input[type=submit]{
  margin-top: 1rem;
}
.brand img {
  display: none;
}
.brand p {
  text-align: center;
  border: 2px solid red;
}
}